<!DOCTYPE html>
<html lang="pt_br">
    <head>
    {% block title %}
        <title>Ecoleta - Coleta ecológica</title>
    {% endblock title %}
        
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="author" content="Gabriel Miranda" />
        <meta name="keywords" content="coleta,ecologica,ecologia,reciclaveis,reciclavel,ecoleta,residuos" />
        <meta name="description" content="Coleta ecológica de itens recicláveis e baterias" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300;700&display=swap" rel="stylesheet" />
        <link href="styles/main.css" type="text/css" rel="stylesheet" />
    {% block styles %}
    {% endblock styles %}
        <link href="styles/responsive.css" type="text/css" rel="stylesheet" />
        
    </head>
    <body>

        <div id= "{{pageId}}" >
           {% block content %}
           {% endblock content %}
        </div><!--"{{pageId}}"-->

        {% block modal %}
        {% endblock modal %}

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>